.background-Register{
    background:linear-gradient(rgba(0, 0, 0, 0.5),rgba(0,0,0,0.5)), url('https://cdn.pixabay.com/photo/2016/01/27/04/32/books-1163695_960_720.jpg');
    height: 91vh;

    h1{
        color: rgb(248, 240, 240);
        font-size: 70px;
    }
    .box1{
        padding-top: 100px;
    }
    
}